<h1>Danh sách khách hàng</h1>
<p>Chào bạn: <%= userLogin.name %> - <a href="/auth/logout">Đăng xuất</a></p>


<form action="" class="mb-2">
    <div class="row">
        <div class="col-3">
            <select name="status" class="form-select">
                <option value="all">Tất cả trạng thái</option>
                <option value="active">Kích hoạt</option>
                <option value="inactive">Không kích hoạt</option>
            </select>
            <div class="col-7">
                <input type="search" name="keyword" class="form-control" placeholder="Từ khoá tìm kiếm"
                value="">
            </div>
            <div class="col-2 d-grid">
                <button class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <th width="5%">STT</th>
        <th>Tên</th>
        <th>Email</th>
        <th width="10%">Trạng thái</th>
        <th width="5%">Sửa</th>
        <th width="5%">Xoá</th>
    </thead>
    <tbody>
        <% userList.forEach((user, index) => { %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.acc_status === 1 ? 'Active': 'Inactive' %></td>
          <td>
            <a href="/edit/<%= id %>" class="btn btn-warning btn-sm">Sửa</a>
          </td>
          <td>
            <a href="/delete/<%= id %>" class="btn btn-danger btn-sm">Xóa</a>
          </td>
        </tr>
        <% }) %>
    
    </tbody>
</table>