
    <div class="content">
      <h1>Đăng nhập</h1>
      <% if(msg?.length){ %>
        <div class="alert alert-danger"><%= msg %></div>
      <%}%>
      <form class="row g-3 needs-validation" novalidate method="post">
        <div class="col-md-12">
          <label for="validationCustom01" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="validationCustom03"
            name="email"
            <% if(email?.length){ %>
              value=<%= email %>
            <%}%>
            placeholder="Email..."
            required
          />
          <span class="text-danger"><%= validate.getError(errors, "email") %></span>
          <% if(errE?.length){ %>
            <span class="text-danger"><%= errE %></span>
          <%}%>
        </div>

        <div class="col-md-12">
          <label for="validationCustom02" class="form-label">Mật khẩu</label>
          <input
            type="password"
            class="form-control"
            id="validationCustom03"
            name="password"
            <% if(password?.length){ %>
              value=<%= password %>
            <%}%>
            placeholder="Password..."
            required
         
          />
          <span class="text-danger"><%= validate.getError(errors, "password") %></span>
          <% if(errP?.length){ %>
            <span class="text-danger"><%= errP %></span>
          <%}%>
        </div>

        <div class="col-12">
          <button class="btn btn-primary" type="submit">Đăng nhập</button>
         
        </div>
        
      </form>
      
    </div>


